<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;database=ATOL;loginTimeout=5;integratedSecurity=false;</property>
        <property name="hibernate.connection.username">Atol</property>
        <property name="hibernate.connection.password">Atol</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
        <property name="hibernate.jdbc.batch_size">500</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.c3p0.maxPoolSize">150</property>
        <property name="hibernate.c3p0.timeout">10000</property>
        <property name="hibernate.c3p0.max_statement">50</property>

    </session-factory>
</hibernate-configuration>